# Dependencies
node_modules/

# Environment variables - NEVER commit this file
.env
docs/GUIA_ENTREVISTA.md
# Build output
dist/

# Logs
logs/
*.log
npm-debug.log*

# Prisma
prisma/migrations/dev.db

# OS files
.DS_Store
Thumbs.db

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# Test coverage
coverage/